body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.container{
  width: 96%;
  max-width: 1240px;
  margin: auto;
}

.banner{
  font-size: 1rem;
  padding: 6em 0;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 0;
}

.banner__image{
  -webkit-filter: blur(4px);
  filter: blur(4px);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  transition: .25s -webkit-filter ease-in-out;
  transition: .25s filter ease-in-out;
}

.banner:hover .banner__image{
  -webkit-filter: blur(0);
  filter: blur(0);
}

h1.title{
  font-size: 4em;
  margin: .1em 0;
  font-family: 'Roboto', sans-serif;
}

.banner p{
  font-size: 2em;
}

.usage{
  padding: 1rem 0;
}

.usage__item{
  display: inline-block;
  vertical-align: top;
  width: 48.5%;
}

.usage__item p:first-child{
  text-align: left;
}

.usage__item img{
  max-width: 100%;
}

.usage__item__code{
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 20px;
  padding: 10px;
  max-width: 500px;
  margin: 2.4rem auto;
}

.usage__item__image{
  display: inline-block;
  position: relative;
  font-size: 0;
  cursor: pointer;
}

.normal{
  display: block;
}

.clicked{
  display: none;
}

.usage__item__overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff;
  top: 0;
  left: 0;
  font-size: 32px;
  font-weight: bold;
  opacity: 0;
}

.usage__item__overlay:hover{
  background-color: rgba(0,0,0,.5);
  opacity: 1;
}

.usage__item__overlay:after{
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.usage__item__overlay:active{
  background-color: rgba(0,0,0,.8);
}

.usage__item__overlay:active .normal{
  display: none;
}

.usage__item__overlay:active .clicked{
  display: block;
}

.usage__item__content{
  display: inline-block;
  vertical-align: middle;
}

.u-text-center{
  text-align: center;;
}

.footer{
  background-color: #2C2C2C;
  color: #fff;
  padding: 1rem 0;
}

.footer a{
  color: rgb(115,202,153);
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width:992px){
  .usage__item{
    width: 90%;
  }
}

@media screen and (max-width:640px){
  .usage__item{
    width: 100%;
  }
}

@media screen and (max-width:480px){
  .usage__item__code{
    padding: 10px 4px;
    font-size: 12px;
  }
}
